@charset "UTF-8";

@font-face {
  font-family: "Geomanist";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Geomanist-Regular.woff") format("woff")
}

@font-face {
  font-family: "Geomanist";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Geomanist-Bold.woff") format("woff")
}

@font-face {
  font-family: "Geomanist";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Geomanist-Book.woff") format("woff")
}

@font-face {
  font-family: "Geomanist";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Geomanist-Medium.woff") format("woff")
}
